@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 210, 30%, 4%;

    --card: 0 0% 100%;
    --card-foreground: 210, 30%, 4%;

    --popover: 0 0% 100%;
    --popover-foreground: 210, 30%, 4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 210, 30%, 4%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 210, 30%, 4%;
    --foreground: 210 40% 98%;

    --card: 210, 30%, 4%;
    --card-foreground: 210 40% 98%;

    --popover: 210, 30%, 4%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 216, 28%, 7%;
    --secondary-foreground: 210 40% 98%;

    --muted: 216, 28%, 7%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 216, 28%, 7%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 216, 28%, 19%;
    --input: 216, 28%, 7%;
    --ring: 216, 28%, 19%;
    --separatorColor: 216, 28%, 19%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}
